/*.InfoRowContainer{
    margin: 5px 5px 10px 13px;
   
}*/

.infoContainer {
    /*border-radius: 8px;*/
    background:white;
    font-weight: 400;
    /*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/
    p{
       padding-left: 20px;
       padding-top:10px;
       padding-right: 20px;
       font-size: 20px;
    }
    h1{
        padding-left: 20px;
        font-size: 30px;
    }
    ul {
        li{font-size: 20px;}
    }
}
.imageProduct{
    width: 100%;
    /*padding: 20px 100px 20px 100px;*/
    border: 1px solid gray;
   
 
}
.videoProduct{
    width: 75%;
    padding: 20px 80px 20px 220px;
    
  
   
}