/*footer*/
.footer{
background-color: white;
height: 60px;
    padding: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: center;
    width: 100%;
    p{
        margin-top: 15px;
    }
}
/*fin footer*/