/*header*/
.menuHeader {
    background-color: white;
    height: 90px;
}

.logoEasy {
    padding: 28px 0px 28px 80px;

}

.buttColor {
    margin-right: 90px;
}

@media (max-width:576px) {
    .logoEasy {
        padding: 28px 0px 28px 40px;
    }
}

/*fin header*/