.menuLeft{
    background-color: #f0f0f0;
    padding-top: 25px;
    padding-left: 20px;
   
    }
    .firstLevel{
        color: #6574cd;
        font-weight: bold;
        font-size: 1.2rem;
            }

.listSubjects{
        padding-top: 5px;
  padding-left: 15px;
    font-size: 1rem;
   
}
.itemDisabled{
    color:gray;
}