@media (max-width:992px) {
    .colorBg {
        margin-left: 30px;
    }

    .infoRowContainer {
        margin-left: 10px;
        margin-right: 10px;
    }
    .infoContainer{
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer p {
        text-align: center;
    }

    .iconCenter {

        justify-content: center;

    }

    .logoEasy {
        padding: 28px 0px 28px 40px;
    }

    .contentRow {
        margin-left: 40px;
    }

    .titleIndex {
        padding-left: 40px;
    }
    .titleIndexDoc {
        padding-left: 40px;
    }

    .headLine {
        padding-left: 40px;

    }
    .headLineDoc{
        padding-left: 40px;
    }
}

@media (max-width:768px) {
    .InfoRowContainer {
        margin-left: 1px;
        margin-right: 5px;
    }

    .headLineDoc {
        margin-left: 1px;

    }
}

@media (max-width:576px) {
    .cardContent {
        h3 {
            padding: 18px;
            font-size: 1.2rem;
        }
    }
}


@media (max-width: 500px) {
    .cardSecondLevel {
        width: 120%;
        height: 350px;
        margin-bottom: 30px;
        font-size: 18px;
    }
    .colorBg {
        margin-left: 15px;
    }

    .contentRow {
        margin-left: 15px;
    }
}






@media (max-width: 370px) {
    .cardSecondLevel {
        width: 120%;
        height: 350px;
        margin-bottom: 30px;
        font-size: 16px;
        overflow: auto;
    }

    .contentRow {
        margin-left: 5px;
    }
}